{% extends "layout.html" %}

 

{% block content %}

<div id="fb-root"></div>

<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v5.0&appId=825386254556018&autoLogAppEvents=1"></script>


<script>

    window.fbAsyncInit = function () {

        FB.init({

            appId: '825386254556018',

            cookie: true,

            xfbml: true,

            version: 'v5.0'

        });

 

        FB.AppEvents.logPageView();

 

    };

 

    (function (d, s, id) {

        var js, fjs = d.getElementsByTagName(s)[0];

        if (d.getElementById(id)) { return; }

        js = d.createElement(s); js.id = id;

        js.src = "https://connect.facebook.net/en_US/sdk.js";

        fjs.parentNode.insertBefore(js, fjs);

    }(document, 'script', 'facebook-jssdk'));

 

    var response;

    function checkLoginState() {

        FB.getLoginStatus(function (response) {

            //statusChangeCallback(response);

            window.alert(response.status);

        });

    }

 

    window.alert(response);

</script>

 

<div class="jumbotron">

    <h1>Account Configuration</h1>

    <p class="lead">To link your facebook account to OneFeed click below.</p>
    <p class="lead">IMPORTANT: During this development cycle your url must be localhost:5000 for this to run the facebook feature properly.</p>

    <div class="fb-login-button" onlogin="checkLoginState();" data-width="" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="false"></div>

</div>
 

{% endblock %}